body {
  background-color: azure;
  color: azure;
}

.container {
  background-color: #3f3250;
}

.jumbotron {
  background-color: #22252c;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
}

.jumbotron h2 {
  font-size: 25px;
}

#formOne {
  background-color: #373737;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid;
}

.btn {
  background-color: azure;
}

.btn:hover {
  background-color: black;
  color: azure;
}

#output {
  display: none;
  background-color: rgb(65, 18, 18);
  border: 1px solid;
  padding: 20px;
}